<footer class="footer">
  <div class="footer__banner">
    <a href="https://review-power.com/"
      ><img src="./image/review-power.png"
    /></a>
    <div class="banner__text">리뷰계의 혁신! 모든 리뷰를 한눈에!</div>
  </div>
</footer>
