<header class="header">
  <div class="page-header">
    <div class="col-md-4 col-xs-6"></div>
    <div class="page-header__img col-md-4 col-xs-6">
      <a href=<%=routes.home%>><img src="/static/image/logo.png" /></a>
    </div>
    <div class="col-md-4 col-xs-6 header-btn">
      <a href=<%=routes.join%>>
        <button class="btn btn-primary join">Join</button>
      </a>
      <a href=<%=routes.login%>>
        <button class="btn btn-primary login">Login</button>
      </a>
    </div>
  </div>
</header>
