<% extend('layouts/main')%>
<main class="main">
  <div class="main-container">
    <div class="main-item">
      <div class="main-item__title">Info</div>
      <div class="main-item__text">
        <ul>
          <li>Law</li>
          <li>Foods</li>
          <li>Medical</li>
          <li>etc...</li>
        </ul>
      </div>
      <div class="main-item__viewAll"><a href="#">View All</a></div>
    </div>
    <div class="main-item">
      <div class="main-item__title">Talk</div>
      <div class="main-item__text"></div>
      <div class="main-item__viewAll"><a href="#">View All</a></div>
    </div>
    <div class="main-item">
      <div class="main-item__title">Humor</div>
      <div class="main-item__text"></div>
      <div class="main-item__viewAll"><a href="#">View All</a></div>
    </div>
    <div class="main-item">
      <div class="main-item__title">Oak</div>
      <div class="main-item__text">
        <ul>
          <li>Jinhae Angol</li>
          <li>jobless</li>
        </ul>
      </div>
      <div class="main-item__viewAll"><a href="#">View All</a></div>
    </div>
    <div class="main-item">
      <div class="main-item__title">Yong</div>
      <div class="main-item__text">
        <ul>
          <li>Busan Dadaepo</li>
          <li>freelancer(CEO)</li>
        </ul>
      </div>
      <div class="main-item__viewAll"><a href="#">View All</a></div>
    </div>
    <div class="main-item">
      <div class="main-item__title">Wook</div>
      <div class="main-item__text">
        <ul>
          <li>Busan Hadan</li>
          <li>public servant (chef of staff)</li>
        </ul>
      </div>
      <div class="main-item__viewAll"><a href="#">View All</a></div>
    </div>
  </div>
</main>
