<% extend('layouts/main')%>
<main class="join-main">
    <div class="join-main-container">
        <div class="join-main-item"></div>
        <div class="join-main-item">
            <h1>Create you account!</h1>
            <form>
                <div class="form-group join-form">
                    <label for="join-userName">Username</label>
                    <input type="text" class="form-control" id="join-userName" placeholder="Enter Username" />
                </div>
                <div class="form-group join-form">
                    <label for="join-emailAddress">Email address</label>
                    <input type="text" class="form-control" id="join-emailAddress" placeholder="Enter Email address" />
                </div>
                <div class="form-group join-form">
                    <label for="join-password">Password</label>
                    <input type="text" class="form-control" id="join-password" placeholder="Enter Password" />
                </div>
            </form>
            <button class="join-btn btn btn-primary join">Create account</button>
        </div>
        <div class="join-main-item"></div>
    </div>
</main>