<% extend('layouts/main')%>

<div class="login-container">
  <div class="login-left"></div>
  <div class="login-middle">
    <div class="login-middle__middle">
      <div class="top">
        <h1>Sign in</h1>
        Don't have an account? <u>Create one</u>
      </div>
      <div class="middle">
        <input class="test" type="text" placeholder="Enter your email" />
        <input class="test" type="text" placeholder="Enter your password" />
        <a href="#">forgot your username/password?</a>

        <input class="test" type="button" value="Sign in" />
      </div>

      <div class="bottom">
        <input
          class="btn btn-sucess"
          type="button"
          value="Sign in with Google"
        />
        <input
          class="btn btn-sucess"
          type="button"
          value="Sign in with Facebook"
        />
        <input
          class="btn btn-sucess"
          type="button"
          value="Sign in with Apple"
        />
      </div>
    </div>
  </div>
  <div class="login-right"></div>
</div>
