
    <form action="/upload"  enctype="multipart/form-data" method="post">
        <input type="text" placeholder="Title" name='title' required=true>
        <textarea name="content" placeholder="content" required=true></textarea>
        File <input type="file" name="storyFile">
        <input type="submit" value="Upload">
    </form>

    
